{% extends 'core/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<h3>REGISTRO DE USUARIO</h3>

<br>

<form id="register-form" action="" method="post">
    {% csrf_token %}

    <div class="card mx-auto" style="width: 30rem;">
      <div class="card-body">
        <h5 class="card-title">Complete todos los campos</h5>
        {{ form | crispy }}
        <a href={% url 'home' %} class="card-link">Inicio</a>
        <a href={% url 'login' %} class="card-link">Iniciar sesion</a>
        <button class="btn btn-sm btn-primary float-end" type="submit">Registrarse</button>
      </div>
    </div>
</form>
{% endblock %}